In [1]:
import pandas as pd

# Usar una de las tres formas para especificar la ruta del archivo
archivo_json = 'C:/Users/Admin/Downloads/Primer Proyecto/DS/steam_games.json.gz'

# Leer el archivo JSON y convertirlo en un DataFrame
df = pd.read_json(archivo_json, compression='gzip', lines=True)

# Eliminar filas que tienen todos sus campos vacíos
df = df.dropna(how='all')

# Mostrar las primeras filas del DataFrame
print(df.columns)

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [2]:
# Descartar columnas innecesarias 
columnas_deseadas = ['publisher', 'genres', 'app_name', 'title','tags', 'specs' ,'developer']
df_reducido = df[columnas_deseadas] 
df_reducido

,publisher,genres,app_name,title,tags,specs,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...","[Single-player, Multi-player, Online Multi-Pla...",Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,"[Free to Play, Simulation, Sports, Casual, Ind...","[Single-player, Multi-player, Online Multi-Pla...",Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,"[Action, Adventure, Casual]",[Single-player],彼岸领域
88314,None,None,Log Challenge,None,"[Action, Indie, Casual, Sports]","[Single-player, Full controller support, HTC V...",None
...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,"[Strategy, Indie, Casual, Simulation]","[Single-player, Steam Achievements]","Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,"[Strategy, Indie, Casual]","[Single-player, Steam Achievements, Steam Clou...",Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,"[Indie, Simulation, Racing]","[Single-player, Steam Achievements, Steam Trad...",Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...","[Single-player, Steam Achievements, Steam Cloud]","xropi,stev3ns"
120444,None,None,Maze Run VR,None,"[Early Access, Adventure, Indie, Action, Simul...","[Single-player, Stats, Steam Leaderboards, HTC...",None

In [3]:
import pandas as pd
import gzip
import json
import re

with gzip.open(r'C:/Users/Admin/Downloads/Primer Proyecto/DS/steam_games.json.gz', 'rb') as g:
    # Usa un lector de línea para leer el archivo línea por línea
    reader = g.readlines()

# Se lee de cada línea del dataset
filas_games = []
for line in reader:
    # Decodifica la línea como JSON
    data = json.loads(line.decode('utf-8'))
    # Agrega la línea al dataframe
    filas_games.append(data)

# Se convierte en dataframe
df_g = pd.DataFrame(filas_games)

In [4]:
#Eliminamos las filas que contienen todos sus campos vacios
df_g = df_g.dropna(how='all').reset_index(drop=True)
df_g.shape

(32135, 13)

In [5]:
#Ver valores nulos por columna
df_g.isna().sum()

publisher       8052
genres          3283
app_name           2
title           2050
url                0
release_date    2067
tags             163
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

In [6]:
#En caso de existir filas duplicadas las eliminamos
filas_duplicadas = df_g[df_g.duplicated(subset="id", keep=False)]
filas_duplicadas

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
74,NaN,NaN,NaN,NaN,http://store.steampowered.com/,NaN,NaN,NaN,NaN,19.99,False,NaN,NaN
13894,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games
14573,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games
30961,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",NaN,"[Single-player, Steam Achievements, Steam Trad...",19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [7]:
#Filtramos por el campo developer
df_g[df_g['developer']=='Rocksteady Studios,Feral Interactive (Mac)']

#Los juegos obtenidos de esta consulta son repetidos y se procede a eliminarlos
df_g = df_g.drop([13894, 74, 30961])
filas_duplicadas = df_g[df_g.duplicated(subset="id", keep=False)]
filas_duplicadas

Empty DataFrame
Columns: [publisher, genres, app_name, title, url, release_date, tags, reviews_url, specs, price, early_access, id, developer]
Index: []

In [8]:
# Preparar DF
#Quitar columnas innecesarias del DF
#Completando campos vacios en columnas necesarias

#Completar campo title con valor nulo con el valor de columna app_name
df_g['title'].fillna(df_g['app_name'], inplace=True)
df_g['title'].isna().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6876\2628451955.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_g['title'].fillna(df_g['app_name'], inplace=True)

1

In [9]:
#El campo title y appname era nulo, quedo 1 fila con title nulo y lo completamos con 'Sin Datos'
df_g['title'].fillna('Sin Datos', inplace=True)
df_g['title'].isna().sum()

0

In [10]:
#Completando columna Developer
#Obtenemos los valores de la columna Publisher (solo si no se repiten los valores)
df_g['developer'] = df_g['developer'].str.lower()
df_g['publisher'] = df_g['publisher'].str.lower()
df_g['developer'].fillna(df_g['publisher'][df_g['publisher'].isin(df_g['developer'])], inplace=True)
df_g['developer'].isna().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6876\3926122647.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_g['developer'].fillna(df_g['publisher'][df_g['publisher'].isin(df_g['developer'])], inplace=True)

3253

In [11]:
#Completamos los 3253 campos restantes con 'Sin Datos'
df_g['developer'].fillna('Sin Datos', inplace=True)
df_g['developer'].isna().sum()

0

In [12]:
#Eliminamos las columnas que no usaremos en nuestra API
df_g = df_g.drop(['tags', 'specs', 'url', 'reviews_url', 'early_access', 'publisher', 'app_name'], axis=1)
df_g.columns

Index(['genres', 'title', 'release_date', 'price', 'id', 'developer'], dtype='object')

In [13]:
#Transformación de columnas
#Conservamos los titulos unicos (eliminar repeticiones por variaciones de mayus/minusculas)
df_g['title'] = df_g['title'].str.lower()
df_g['title'].unique()

array(['lost summoner kitty', 'ironbound', 'real pool 3d - poolians', ...,
       'russian roads', 'exit 2 - directions', 'maze run vr'],
      dtype=object)

In [14]:
#Para nuestro End Point necesitamos el valor Año de la columna 'Release_Date'
#Para eso creamos una nueva columna 'release_year' 
#Definimos una funcion para obtener el año de la columna 'Release_Date' y eliminar dicha columna
# Función para obtener año
def get_year(fecha):
    if pd.notna(fecha):
        if re.match(r'^\d{4}-\d{2}-\d{2}$', fecha):
            return fecha.split('-')[0]
    #Retornar Sin_dato_fecha en caso de no encontrar el año
    return 'Sin_dato_fecha'

# Crea columna nueva con el año y aplicamos la función
df_g['release_year'] = df_g['release_date'].apply(get_year)


# elimina la columna 'release_date'
df_g = df_g.drop('release_date', axis=1)
df_g['release_year'].unique()

array(['2018', '2017', 'Sin_dato_fecha', '1997', '1998', '2016', '2006',
       '2005', '2003', '2007', '2002', '2000', '1995', '1996', '1994',
       '2001', '1993', '2004', '1999', '2008', '2009', '1992', '1989',
       '2010', '2011', '2013', '2012', '2014', '1983', '1984', '2015',
       '1990', '1988', '1991', '1985', '1982', '1987', '1981', '1986',
       '2021', '2019', '1975', '1970', '1980'], dtype=object)

In [15]:
#Trabajando la columna price
#Necesitamos valores numericos, debemos reemplazar 'Free to play' por el valor 0
#Cambiar el tipo de dato de la columna a numerico 
def flotante(value):
    if pd.isna(value):
        return 0.0
    try:
        float_value = float(value)
        return float_value
    except:
        return 0.0

df_g['price'] = df_g['price'].apply(flotante)
df_g['price'] = df_g['price'].apply(lambda x: round(x, 2))
df_g['price'].dtype

dtype('float64')

In [16]:
#Trabajando la columna 'genres' 
#Necesitamos los valores unicos de esta columna
#Buscamos obtener una columna de cada Género
df_g = df_g.explode('genres')
df_g = df_g.dropna(subset=['genres'])
df_g.head(10)

,genres,title,price,id,developer,release_year
0,Action,lost summoner kitty,4.99,761140,kotoshiro,2018
0,Casual,lost summoner kitty,4.99,761140,kotoshiro,2018
0,Indie,lost summoner kitty,4.99,761140,kotoshiro,2018
0,Simulation,lost summoner kitty,4.99,761140,kotoshiro,2018
0,Strategy,lost summoner kitty,4.99,761140,kotoshiro,2018
1,Free to Play,ironbound,0.00,643980,secret level srl,2018
1,Indie,ironbound,0.00,643980,secret level srl,2018
1,RPG,ironbound,0.00,643980,secret level srl,2018
1,Strategy,ironbound,0.00,643980,secret level srl,2018
2,Casual,real pool 3d - poolians,0.00,670290,poolians.com,2017

In [17]:
#Renombramos la columna ID
#df_g = df_g.rename(columns={'id':'item_id'})
#df_g

In [18]:
#Guardamos en un nuevo archivo fromato CSV
df_g.to_csv(r'C:/Users/Admin/Downloads/Primer Proyecto/DS/steam_games_clean.csv', index=False, encoding='utf-8')